
.icon-tfm-check-circle:before { content: '\e11d'; } /* '' */
.icon-tfm-dots-3:before { content: '\e33d'; } /* '' */
.icon-search:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-up-open:before { content: '\e804'; } /* '' */
.icon-picture:before { content: '\e805'; } /* '' */
.icon-quote-right:before { content: '\e806'; } /* '' */
.icon-sun-inv:before { content: '\e807'; } /* '' */
.icon-moon-inv:before { content: '\e808'; } /* '' */
.icon-video:before { content: '\e809'; } /* '' */
.icon-headphones:before { content: '\e80a'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-star:before { content: '\e80c'; } /* '' */
.icon-tfm-check:before { content: '\e89c'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
